#board{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 800px;
}

.row{
    display: flex;
    flex-direction: row;
}

.cell{
    width: 10px;
    height: 10px;
    border: 1px solid #000;
    transition-property: background-color;
    transition-duration: .5s;
}

.dead{
    background-color: #000;
}

.isolated{
    background-color: green;
}

.alive{
    background-color: #fff;
}

.human{
    background-color: red !important;
}
